In [33]:
import pandas as pd

In [34]:
ufo = (pd.read_csv('ufo.csv'))

In [35]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [36]:
ufo = pd.read_csv('ufo.csv', usecols=[0,3])

In [37]:
ufo.columns

Index(['City', 'State'], dtype='object')

In [38]:
ufo = pd.read_csv('ufo.csv', nrows=3)

In [39]:
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [40]:
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [41]:
for index, row in ufo.iterrows():
    print(index, row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO